{% extends 'base.html' %}

{% block head %}
<title>Attack Tool - PLC Conveyor</title>
{% endblock %}

{% block settings %}

{% endblock %}

{% block body %}
<h1>PLC Status: <span id="target-status"></span></h1>

<section class="buttons">
    <div class="accordion">
        <button id="button-modbus-attacks" class="accordion-button">SLMP</button>
        <div class="accordion-content">
            <div class="button-group">
                <button id="button-slmp-stop" class="attack-button" onclick="sendCommand('/attack/plc/slmp/stop')">Stop</button>
                <button id="button-slmp-start" class="attack-button" onclick="sendCommand('/attack/plc/slmp/start')">Start</button>
            </div>
        </div>
    </div>

    <div class="accordion">
        <button id="button-dos-attacks" class="accordion-button">DoS</button>
        <div class="accordion-content">
            <div class="button-group">
                <button name="dosTcpSyn" class="attack-button" onclick="sendCommand('/attack/dos/tcp-syn')">TCP Syn</button>
                <button name="dosTcpXmas" class="attack-button" onclick="sendCommand('/attack/dos/tcp-xmas')">TCP Xmas</button>
            </div>
        </div>
    </div>

    <div class="accordion">
        <button id="button-malware" class="accordion-button">Malware</button>
        <div class="accordion-content">
            <div class="button-group">
                <button name="malwareEicar" class="attack-button" onclick="sendCommand('/attack/malware/eicar')">EICAR test</button>
                <button name="malwarePasswd" class="attack-button" onclick="sendCommand('/attack/malware/passwd')">Steal password</button>
            </div>
        </div>
    </div>

    <div class="accordion">
        <button id="button-cve-exploits" class="accordion-button">CVE</button>
        <div class="accordion-content">
            <div class="button-group">
                <button name="cve-2015-5374" class="attack-button" onclick="sendCommand('/attack/cve/2015-5374')">CVE-2015-5374</button>
                <button name="cve-2014-0750" class="attack-button" onclick="sendCommand('/attack/cve/2014-0750')">CVE-2014-0750</button>
            </div>
        </div>
    </div>
</section>

<h2>Log</h2>
<div id="log" class="log-window"></div>
{% endblock %}

            {% block defIp %}setDefaultIp("192.168.127.1");{% endblock %}

{% block script %}
    function refreshStatus() {
        $.ajax({
            url: "/status/ping",
            type: "get",
            success: function(data) {
                $("#target-status").html(data);
            },
            complete: function() {
                setTimeout(refreshStatus, 1000);
            }
        });
    }
{% endblock %}